---
component: article
---

<article class="c-article{{#if articleModifierClass}}--{{articleModifierClass}}{{/if}}{{#if articleClasses}} {{articleClasses}}{{/if}}" data-css="c-article">

	{{#if articleHeader}}
		{{> c-article__header articleHeader}}
	{{/if}}

	{{#if articleFigure }}
		{{> c-figure articleFigure}}
	{{/if}}

	<div class="article__content {{articleContentClasses}}" data-js-id="toc">
		{{#if articleSummary}}
			{{{truncate articleContent articleSummary "..." }}}
		{{else}}

			{{{ articleContent }}}

			{{#if articleRTE}}
				{{> c-rte articleRTE}}
			{{/if}}

		{{/if}}
	</div>

	{{#if articleFooter}}
		{{> c-article__footer articleFooter}}
	{{/if}}

</article>