{{#if options.headline}}
	<header class="zone__header{{#if options.center-header}} is-container{{/if}}">
		<{{#isnt options.h1 true}}h2{{else}}h1{{/isnt}} class="zone__header-headline{{#if options.headline-class}} {{options.headline-class}}{{/if}}">{{options.headline}}</{{#isnt options.h1 true}}h2{{else}}h1{{/isnt}}>

		{{#if options.intro-text}}
			<p class="zone__header-intro{{#if options.intro-text-class}} {{options.intro-text-class}}{{/if}}">{{options.intro-text}}</p>
		{{/if}}
	</header>
{{/if}}

<div class="zone__content{{#if options.bg-color-content}} is-bg-{{options.bg-color-content}}{{/if}}">
	{{{yield}}}
</div>

{{#if options.button}}
	<footer class="zone__footer is-container">
		<a href="#" title="{{options.button}}"
		   class="c-cta{{#if options.modifier}}--{{options.modifier}}{{/if}}"
		   data-css="c-cta">
			<span>{{options.button}}</span>
		</a>
	</footer>
{{/if}}
