---
block: navbar
---

<nav class="b-navbar" id="site-menu">

	<h2>General Overview</h2>
	<ul class="nav navbar__list">
		{{#withSort pages 'data.sortOrder'}}
			{{#is data.type "General Overview"}}
				<li class="navbar__list-item">
					<a href="{{autolink}}" {{#is ../../page.dest this.dest}} class="is-active"{{/is}}>{{data.menuLink}}</a>
				</li>
			{{/is}}
		{{/withSort}}
	</ul>

	<h2>Effects</h2>
	<ul class="nav navbar__list">
		{{#withSort pages 'data.sortOrder'}}
			{{#is data.type "Effects"}}
				<li class="navbar__list-item">
					<a href="{{autolink}}" {{#is ../../page.dest this.dest}} class="is-active"{{/is}}>{{data.menuLink}}</a>
				</li>
			{{/is}}
		{{/withSort}}
	</ul>

	<h2>Helpers</h2>
	<ul class="nav navbar__list">
		{{#withSort pages 'data.sortOrder'}}
			{{#is data.type "Helpers"}}
				<li class="navbar__list-item">
					<a href="{{autolink}}" {{#is ../../page.dest this.dest}} class="is-active"{{/is}}>{{data.menuLink}}</a>
				</li>
			{{/is}}
		{{/withSort}}
	</ul>

</nav>