---
block: sub navigation
---

<div class="b-subnav">
	<h2 class="subnav__headline">
		{{page.data.category}}
	</h2>
	<div class="c-accordion--default" data-css="c-accordion" data-js-module="accordion">
		{{#each categoryType}}
			<div class="subnav__wrapper">
				<h3 class="subnav__cat" data-js-atom="accordion-btn" data-js-ref="cat-{{@index}}">
					{{{categoryType}}}
				</h3>

				<ul class="subnav__list{{#pages}}{{#is ../../page.dest this.dest}} is-open{{/is}}{{/pages}}" data-js-atom="accordion-content" data-js-id="cat-{{@index}}">
					{{#withSort ../pages 'data.sortOrder'}}
						{{#is data.categoryType ../categoryType}}
							<li class="subnav__list-item">
								<a href="{{autolink}}" class="subnav__link{{#is ../../../page.dest this.dest}} is-active{{/is}}">
									{{{data.menuLink}}}
								</a>
							</li>
						{{/is}}
					{{/withSort}}
				</ul>
			</div>
		{{/each}}
	</div>

</div>